<div class="navbar navbar-expand-sm bg-warning navbar-dark" style="background-color:white !important;">
    <div class="container">
        <img src="~/img/SİNEFİL.png" style="width:299px;height:73px;display: block;margin-left: 37%;margin-right: auto;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/home/index" class="nav-link">Tüm Filmler</a>
            </li>
            <li class="nav-item">
                <a href="/home/create" class="nav-link">Film Ekle</a>
            </li>
        </ul>
    </div>
</div>
