<div class="navbar navbar-expand-sm bg-warning navbar-dark" style="background-color:white !important;">
    <div class="container">
        <a href="/home/index"><img src="~/img/SİNEFİL.png" style="width:299px;height:73px;display: block;margin-left: 150%;margin-right: auto;"></a>
        <ul class="navbar-nav" style="color:aqua !important;">
            <li class="nav-item">
                <a href="/home/index" class="nav-link"><img src="~/img/Tüm Filmler.png"></a>
            </li>
            <li class="nav-item">
                <a href="/home/create" class="nav-link"><img src="~/img/Film Ekle.png"></a>
            </li>
        </ul>
    </div>
</div>
